#### Setup

In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json
import sys
from datetime import datetime
from scipy import stats

In [2]:
def WriteJSON(obj,filename):
    with open(filename, 'w+') as outfile:
        try:
            obj_json = json.dumps(obj, sort_keys=True, indent=4,default=str)
            outfile.write(obj_json)
        except Exception as e:
            print(e, file=sys.stderr)
            print('File not written.')

In [3]:
def ReadJSON(filename):
    obj = []
    try: 
        with open(filename, 'r') as infile:
            obj = json.load(infile)
    except Exception as e:
        print(e, file=sys.stderr)
        print('File not found.')
        
    return obj

### Start Program

In [254]:
filename = '../data/results/results.json'
results = pd.read_json(filename)

results = results.drop(index=[13])

counts = results['Counts']
Counts_0 = []
Counts_1 = []
for count in counts:
    Counts_0.append(count['0'])
    Counts_1.append(count['1'])

results['Counts_0'] = Counts_0
results['Counts_1'] = Counts_1

results = results.drop(columns=['Counts'])

allclfs = results['classifiers']
BGN = []
DTC = []
KNN = []
SVM = []
collector = [BGN,DTC,KNN,SVM]
i = 0
for clasifiers in allclfs:
    for clf in clasifiers:
        tmp = list(clf.keys())[0]
        collector[i].append(clf[tmp]['Report']['accuracy'])
        if i < 3:
            i += 1
        else:
            i = 0
        
results['BGN-Accu'] = collector[0]
results['DTC-Accu'] = collector[1]
results['KNN-Accu'] = collector[2]
results['SVM-Accu'] = collector[3]


allclfs = results['classifiers']

BGNTN = []
BGNFP = []
BGNFN = []
BGNTP = []

DTCTN = []
DTCFP = []
DTCFN = []
DTCTP = []

KNNTN = []
KNNFP = []
KNNFN = []
KNNTP = []

SVMTN = []
SVMFP = []
SVMFN = []
SVMTP = []
for clasifiers in allclfs:
    for clf in clasifiers:
        tmp = list(clf.keys())[0]
        tmp2 = clf[tmp]['Matrix']
#         print(tmp)
        if tmp == 'BGN':
            tn = int(list(tmp2)[0][1:3])
            BGNTN.append(tn)
            fp = int(list(tmp2)[0][4:6])
            BGNFP.append(fp)
            fn = int(list(tmp2)[1][1:3])
            BGNFN.append(fn)
            tp = int(list(tmp2)[1][4:6])
            BGNTP.append(tp)
        elif tmp == 'DTC':
            tn = int(list(tmp2)[0][1:3])
            DTCTN.append(tn)
            fp = int(list(tmp2)[0][4:6])
            DTCFP.append(fp)
            fn = int(list(tmp2)[1][1:3])
            DTCFN.append(fn)
            tp = int(list(tmp2)[1][4:6])
            DTCTP.append(tp)
        elif tmp == 'KNN':
            tn = int(list(tmp2)[0][1:3])
            KNNTN.append(tn)
            fp = int(list(tmp2)[0][4:6])
            KNNFP.append(fp)
            fn = int(list(tmp2)[1][1:3])
            KNNFN.append(fn)
            tp = int(list(tmp2)[1][4:6])
            KNNTP.append(tp)
        elif tmp == 'SVM':
            tn = int(list(tmp2)[0][1:3])
            SVMTN.append(tn)
            fp = int(list(tmp2)[0][4:6])
            SVMFP.append(fp)
            fn = int(list(tmp2)[1][1:3])
            SVMFN.append(fn)
            tp = int(list(tmp2)[1][4:6])
            SVMTP.append(tp)


results['BGN-TN'] = BGNTN
results['BGN-FP'] = BGNFP
results['BGN-FN'] = BGNFN
results['BGN-TP'] = BGNTP

results['DTC-TN'] = DTCTN
results['DTC-FP'] = DTCFP
results['DTC-FN'] = DTCFN
results['DTC-TP'] = DTCTP

results['KNN-TN'] = KNNTN
results['KNN-FP'] = KNNFP
results['KNN-FN'] = KNNFN
results['KNN-TP'] = KNNTP

results['SVM-TN'] = SVMTN
results['SVM-FP'] = SVMFP
results['SVM-FN'] = SVMFN
results['SVM-TP'] = SVMTP

results = results.drop(columns=['classifiers'])

results

,Description,Image Resolution,Run Time,Sample Size,Counts_0,Counts_1,BGN-Accu,DTC-Accu,KNN-Accu,SVM-Accu,...,DTC-FN,DTC-TP,KNN-TN,KNN-FP,KNN-FN,KNN-TP,SVM-TN,SVM-FP,SVM-FN,SVM-TP
0,Baseline with all 10 image sets.,"[640, 640]","07/22/2019, 10:27:00",0.5,160,160,0.609375,0.593750,0.609375,0.437500,...,19,17,4,24,1,35,28,0,36,0
1,Remove AUS.,"[640, 640]","07/22/2019, 10:34:11",0.5,140,140,0.571429,0.589286,0.535714,0.517857,...,13,15,2,26,0,28,1,27,0,28
2,Remove GRM.,"[640, 640]","07/22/2019, 10:46:46",0.5,159,159,0.484375,0.593750,0.546875,0.453125,...,16,19,9,20,9,26,29,0,35,0
3,Remove NEW.,"[640, 640]","07/22/2019, 10:55:12",0.5,145,145,0.500000,0.603448,0.517241,0.500000,...,12,17,3,26,2,27,0,29,0,29
4,Remove SWZ.,"[640, 640]","07/22/2019, 11:01:06",0.5,134,134,0.537037,0.592593,0.592593,0.500000,...,9,18,19,8,14,13,0,27,0,27
5,Remove AMT.,"[640, 640]","07/22/2019, 11:57:51",0.5,142,142,0.543860,0.578947,0.526316,0.385965,...,16,19,3,19,8,27,22,0,35,0
6,Remove BOS.,"[640, 640]","07/22/2019, 12:09:24",0.5,160,160,0.625000,0.671875,0.468750,0.468750,...,11,23,9,21,13,21,30,0,34,0
7,Remove DEN.,"[640, 640]","07/22/2019, 12:16:53",0.5,144,144,0.465517,0.637931,0.568966,0.482759,...,10,18,14,16,9,19,0,30,0,28
8,Remove LAA.,"[640, 640]","07/22/2019, 12:27:40",0.5,149,149,0.666667,0.633333,0.516667,0.416667,...,13,22,3,22,7,28,25,0,35,0
9,Remove SEA.,"[640, 640]","07/22/2019, 12:44:16",0.5,150,150,0.516667,0.583333,0.500000,0.483333,...,13,18,9,20,10,21,29,0,31,0
10,Remove NET.,"[640, 640]","07/22/2019, 12:51:29",0.5,141,141,0.543860,0.456140,0.508772,0.456140,...,15,16,4,22,6,25,26,0,31,0
11,All ten image sets. Quarter resolution.,"[320, 320]","07/22/2019, 12:57:07",0.5,149,149,0.483333,0.533333,0.466667,0.450000,...,18,15,6,21,11,22,27,0,33,0
12,All ten image sets. Three quarters resolution.,"[960, 960]","07/22/2019, 13:17:13",0.5,141,141,0.543860,0.649123,0.491228,0.473684,...,10,20,1,26,3,27,27,0,30,0

In [240]:
cols = [1,11,12]
results = results.drop(index=cols)
results.tail()

,Description,Image Resolution,Run Time,Sample Size,Counts_0,Counts_1,BGN-Accu,DTC-Accu,KNN-Accu,SVM-Accu,...,DTC-FN,DTC-TP,KNN-TN,KNN-FP,KNN-FN,KNN-TP,SVM-TN,SVM-FP,SVM-FN,SVM-TP
6,Remove BOS.,"[640, 640]","07/22/2019, 12:09:24",0.5,160,160,0.625000,0.671875,0.468750,0.468750,...,11,23,9,21,13,21,30,0,34,0
7,Remove DEN.,"[640, 640]","07/22/2019, 12:16:53",0.5,144,144,0.465517,0.637931,0.568966,0.482759,...,10,18,14,16,9,19,0,30,0,28
8,Remove LAA.,"[640, 640]","07/22/2019, 12:27:40",0.5,149,149,0.666667,0.633333,0.516667,0.416667,...,13,22,3,22,7,28,25,0,35,0
9,Remove SEA.,"[640, 640]","07/22/2019, 12:44:16",0.5,150,150,0.516667,0.583333,0.500000,0.483333,...,13,18,9,20,10,21,29,0,31,0
10,Remove NET.,"[640, 640]","07/22/2019, 12:51:29",0.5,141,141,0.543860,0.456140,0.508772,0.456140,...,15,16,4,22,6,25,26,0,31,0

In [241]:
results.describe()

,Sample Size,BGN-Accu,DTC-Accu,KNN-Accu,SVM-Accu,BGN-TN,BGN-FP,BGN-FN,BGN-TP,DTC-TN,...,DTC-FN,DTC-TP,KNN-TN,KNN-FP,KNN-FN,KNN-TP,SVM-TN,SVM-FP,SVM-FN,SVM-TP
count,10.0,10.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.00000,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,0.5,0.549236,0.594510,0.535555,0.458424,13.90000,13.600000,13.200000,18.90000,16.800000,...,13.400000,18.700000,7.700000,19.800000,7.900000,24.200000,18.900000,8.600000,23.700000,8.400000
std,0.0,0.065025,0.056741,0.043677,0.036880,3.95671,4.599517,2.043961,3.28126,3.359894,...,3.098387,2.213594,5.437524,4.962078,4.175324,5.996295,13.245125,13.866026,16.438775,13.533498
min,0.5,0.465517,0.456140,0.468750,0.385965,9.00000,4.000000,10.000000,13.00000,10.000000,...,9.000000,16.000000,3.000000,8.000000,1.000000,13.000000,0.000000,0.000000,0.000000,0.000000
25%,0.5,0.504167,0.585648,0.510746,0.441406,10.25000,12.000000,12.250000,17.50000,14.500000,...,11.250000,17.250000,3.250000,19.250000,6.250000,21.000000,5.500000,0.000000,7.750000,0.000000
50%,0.5,0.540448,0.593750,0.521779,0.462445,14.00000,12.500000,13.500000,19.50000,17.500000,...,13.000000,18.000000,6.500000,20.500000,8.500000,25.500000,25.500000,0.000000,32.500000,0.000000
75%,0.5,0.592996,0.625862,0.563443,0.483190,16.50000,17.500000,14.750000,21.75000,19.000000,...,15.750000,19.000000,9.000000,22.000000,9.750000,27.000000,28.750000,20.250000,35.000000,20.250000
max,0.5,0.666667,0.671875,0.609375,0.500000,21.00000,19.000000,16.000000,22.00000,21.000000,...,19.000000,23.000000,19.000000,26.000000,14.000000,35.000000,30.000000,30.000000,36.000000,29.000000

In [246]:
# 61%

list(results['BGN-Accu'])

[0.609375,
 0.484375,
 0.5,
 0.5370370370370371,
 0.543859649122807,
 0.625,
 0.46551724137931005,
 0.6666666666666661,
 0.516666666666666,
 0.543859649122807]

In [248]:
# 59%

list(results['DTC-Accu'])

[0.59375,
 0.59375,
 0.6034482758620691,
 0.592592592592592,
 0.5789473684210521,
 0.671875,
 0.637931034482758,
 0.6333333333333331,
 0.583333333333333,
 0.456140350877192]

In [249]:
# 61%

list(results['KNN-Accu'])

[0.609375,
 0.546875,
 0.5172413793103441,
 0.592592592592592,
 0.5263157894736841,
 0.46875000000000006,
 0.568965517241379,
 0.516666666666666,
 0.5,
 0.508771929824561]

In [250]:
# 44%

list(results['SVM-Accu'])

[0.4375,
 0.453125,
 0.5,
 0.5,
 0.385964912280701,
 0.46875000000000006,
 0.482758620689655,
 0.416666666666666,
 0.48333333333333306,
 0.456140350877192]

In [251]:
results.iloc[6]

Description                  Remove DEN.
Image Resolution              [640, 640]
Run Time            07/22/2019, 12:16:53
Sample Size                          0.5
Counts_0                             144
Counts_1                             144
BGN-Accu                        0.465517
DTC-Accu                        0.637931
KNN-Accu                        0.568966
SVM-Accu                        0.482759
BGN-TN                                14
BGN-FP                                16
BGN-FN                                15
BGN-TP                                13
DTC-TN                                19
DTC-FP                                11
DTC-FN                                10
DTC-TP                                18
KNN-TN                                14
KNN-FP                                16
KNN-FN                                 9
KNN-TP                                19
SVM-TN                                 0
SVM-FP                                30
SVM-FN                                 0
SVM-TP                                28
Name: 7, dtype: object

In [253]:
results.iloc[6]['KNN-Accu']
tn = results.iloc[5]['KNN-TN']
tp = results.iloc[5]['KNN-TP']
fp = results.iloc[5]['KNN-FP']
fn = results.iloc[5]['KNN-FN']

print(tn,fp,'\n')
print(fn,tp)

9 21

13 21

In [231]:
cols = [1,2,3,4,5,6,7,8,9,10]
results = results.drop(index=cols)
results

,Description,Image Resolution,Run Time,Sample Size,Counts_0,Counts_1,BGN-Accu,DTC-Accu,KNN-Accu,SVM-Accu,...,DTC-FN,DTC-TP,KNN-TN,KNN-FP,KNN-FN,KNN-TP,SVM-TN,SVM-FP,SVM-FN,SVM-TP
0,Baseline with all 10 image sets.,"[640, 640]","07/22/2019, 10:27:00",0.5,160,160,0.609375,0.593750,0.609375,0.437500,...,19,17,4,24,1,35,28,0,36,0
11,All ten image sets. Quarter resolution.,"[320, 320]","07/22/2019, 12:57:07",0.5,149,149,0.483333,0.533333,0.466667,0.450000,...,18,15,6,21,11,22,27,0,33,0
12,All ten image sets. Three quarters resolution.,"[960, 960]","07/22/2019, 13:17:13",0.5,141,141,0.543860,0.649123,0.491228,0.473684,...,10,20,1,26,3,27,27,0,30,0